<div class="ark-container-fluid ark-bgc-022">
  <div class="ark-c-lg-10 ark-c-md-11 ark-c-sm-12  ark-c-xs-12 ark-center">
    <div class="ark-row">
      <div class="ark-c-lg-12">
        <div class="nav-container">
          <div class="bar-wrapper">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
          <div class="ark-o-logo"><span class="ark-o-icon"></span></div>
          <div class="welcome-txt">Welcome Guest</div>
          <div class="topnav-right">
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="#">Resources</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>