@font-face {
  font-family: 'martech';
  src: url('../fonts/Martech/martech.eot?vm7jts');
  src:  url('../fonts/Martech/martech.eot?vm7jts#iefix') format('embedded-opentype'),
    url('../fonts/Martech/martech.ttf?vm7jts') format('truetype'),
    url('../fonts/Martech/martech.woff?vm7jts') format('woff'),
    url('../fonts/Martech/martech.svg?vm7jts#martech') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mt-"], [class*=" mt-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'martech' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mt-icon-03:before {
  content: "\e900";
}
.mt-icon-04:before {
  content: "\e901";
}
.mt-icon-05:before {
  content: "\e902";
}
.mt-icon-21:before {
  content: "\e903";
}
.mt-icon-20:before {
  content: "\e904";
}
.mt-icon-19:before {
  content: "\e905";
}
.mt-icon-01:before {
  content: "\e906";
}
.mt-icon-02:before {
  content: "\e907";
}
.mt-icon-06:before {
  content: "\e908";
}
.mt-icon-07:before {
  content: "\e909";
}
.mt-icon-24:before {
  content: "\e90a";
}
.mt-icon-23:before {
  content: "\e90b";
}
.mt-icon-22:before {
  content: "\e90c";
}
.mt-icon-32:before {
  content: "\e90d";
}
.mt-icon-31:before {
  content: "\e90e";
}
.mt-icon-30:before {
  content: "\e90f";
}
.mt-icon-29:before {
  content: "\e910";
}
.mt-icon-28:before {
  content: "\e911";
}
.mt-icon-27:before {
  content: "\e912";
}
.mt-icon-26:before {
  content: "\e913";
}
.mt-icon-25:before {
  content: "\e914";
}
.mt-icon-18:before {
  content: "\e915";
}
.mt-icon-17:before {
  content: "\e916";
}
.mt-icon-16:before {
  content: "\e917";
}
.mt-icon-15:before {
  content: "\e918";
}
.mt-icon-14:before {
  content: "\e919";
}
.mt-icon-13:before {
  content: "\e91a";
}
.mt-icon-12:before {
  content: "\e91b";
}
.mt-icon-11:before {
  content: "\e91c";
}
.mt-icon-10:before {
  content: "\e91d";
}
.mt-icon-09:before {
  content: "\e91e";
}
.mt-icon-08:before {
  content: "\e91f";
}
.mt-icon-35:before {
  content: "\e920";
}
.mt-icon-36:before {
  content: "\e921";
}
.mt-icon-33:before {
  content: "\e922";
}
.mt-icon-34:before {
  content: "\e923";
}
.mt-icon-37:before {
  content: "\e924";
}
.mt-icon-38:before {
  content: "\e925";
}
.mt-icon-39:before {
  content: "\e926";
}
.mt-icon-40:before {
  content: "\e927";
}
